<form class="row" [formGroup]="albumForm" (ngSubmit)="onSubmit()">
  <p *ngIf="messageError">{{  messageError }}</p>
  <div class="form-group col-md-12">
    <label for="name">Name :</label>
    <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
    <div *ngIf="name.invalid && name.touched" class="alert alert-danger">
      <!-- Validators required du formBuilder -->
      <div *ngIf="name.errors.required">
        Name is required
      </div>
      <div *ngIf="name.errors.minlength">
        Name must be at least 5 characters long.
      </div>
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="name">Title :</label>
    <input formControlName="title" type="text" class="form-control" id="title" aria-describedby="emailHelp">
    <div *ngIf="title.invalid && title.touched" class="alert alert-danger">
      <div *ngIf="title.errors.required">
        Title is required
      </div>
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="ref">Ref :</label>
    <input formControlName="ref" type="text" class="form-control" id="ref" aria-describedby="emailHelp">
    <div *ngIf="ref.invalid && ref.touched" class="alert alert-danger">
      <div *ngIf="ref.errors.required">
        Ref is required
      </div>
      <div *ngIf="ref.errors.pattern">
        Error pattern
      </div>
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="ref">Duration :</label>
    <input formControlName="duration" type="text" class="form-control" id="duration" aria-describedby="emailHelp">
    <div *ngIf="duration.invalid && duration.touched" class="alert alert-danger">
      <div *ngIf="duration.errors.required">
        duration is required
      </div>
      <div *ngIf="duration.errors.max">
        Error max 960
      </div>
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="ref">Description :</label>
    <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
  </div>
  <div class="form-group col-md-12">
      <label for="price">
        Prix en Ether (prix + 8%) : <small> {{ priceTTC.value || '0' }} Eth </small>
        <br />
        <small> Renseigner le prix HT ci-dessous le prix TTC sera inséré en base de données.</small>
      </label>
      <input formControlName="price" type="text" class="form-control" id="price" aria-describedby="emailHelp">
      <div *ngIf="price.invalid && price.touched" class="alert alert-danger">
          <div *ngIf="price.errors.required">
            Error min 10
          </div>
      </div>
  </div>

  <button [disabled]="albumForm.invalid" type="submit" class="btn btn-primary">Add</button>
</form>
