<div class="container-fuild principal">
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <button class="btn btn-sm btn-outline-info nav-link" routerLink="/albums" routerLinkActive="active">Home
                      <span class="sr-only">(current)</span>
                  </button>
              </li>
              <li class="nav-item active">
                  <button class="btn btn-sm btn-outline-info nav-link" routerLink="/login" routerLinkActive="active">Se connecter
                      <span class="sr-only">(current)</span>
                  </button>
              </li>
              <li class="nav-item active">
                  <button class="btn btn-sm btn-outline-info nav-link" routerLink="/stat" routerLinkActive="active">Statistiques
                      <span class="sr-only">(current)</span>
                  </button>
              </li>
              <li>
                  time: {{ time }}
              </li>
          </ul>
      </div>
  </nav>
  <app-audio-player></app-audio-player>
  <router-outlet></router-outlet>
</div>
