<div class="card" *ngIf="hideAlbum==false">
    <img class="card-img-top" src="#" alt="Group Music">
    <div class="card-body">
        <h5 class="card-title">{{ album.title }}</h5>
        <p class="card-text">{{ album.name }}</p>
        <p class="btn_detail">
            <button [@openClose]="isOpen? 'open' : 'closed'" class="btn btn-warning" (click)="shuffle()">Shuffle</button>
        </p>
        <button class="btn btn-primary" (click)="play(album)" [disabled]="!isActive">Play >></button>
        <button class="btn btn-primary" (click)="stop(album)" [disabled]="isActive">Stop</button>
        <p class="btn_detail">
            <button class="btn btn-warning" (click)="hide()">Hide Album</button>
        </p>
    </div>
    <ul *ngIf="songs" class="list-group">
        <li *ngFor="let song of songs; let index = index" [className]="current == (index + 1) && album.id == id ? 'list-group-item active' : 'list-group-item'" >
          {{ song }}
        </li>
    </ul>
</div>
