.btn-shuffle {
  border: 1px solid #000000;
  // background: gray;
  color: #000000;
  font-size: 14px;
}

.btn-play {
  border: 1px solid #3CB371;
  color: #000000;
}

.btn-hide {
  border: 1px solid #B8860B;
  // background: #B8860B;
  color: #000000;
  font-size: 14px;
}
