<div class="card" *ngIf="hideAlbum==false">
    <img class="card-img-top" src="#" alt="Group Music">
    <div class="card-body">
        <h5 class="card-title">{{ album.title }}</h5>
        <p class="card-text">{{ album.name }}</p>
        <p class="btn_detail">
            <button [@openClose]="isOpen? 'open' : 'closed'" class="btn btn-warning" (click)="shuffle()">Shuffle</button>
        </p>
        <button [disabled]="isPlaying == true" class="btn btn-primary" (click)="play(album)">Play >></button>
        <button [disabled]="isPlaying != true" class="btn btn-primary" (click)="stop(album)"> Stop >></button>
        <p class="btn_detail">
            <button class="btn btn-warning" (click)="hide()">Hide Album</button>
        </p>
    </div>

    <ul *ngIf="songs; else elseSongs" class="list-group">
        <li *ngFor="let song of songs; let index = index"
        [className]="status && song == status.song && album.id == status.albumId ? 'list-group-item active' : 'list-group-item'"
        >
        {{ song }} </li>
    </ul>
    <ng-template #elseSongs>
        <ul class="list-group">
            <li class="list-group-item">Loading...</li>
        </ul>
    </ng-template>
</div>
